body.drag {
	cursor: move;
}

th.active img {
	display: inline;
}

tr.even, tr.odd {
	background-color: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.1em 0.6em;
}

tr.drag {
	background-color: #FFFFF0;
}

tr.drag-previous {
	background-color: #FFFFDD;
}

td.active {
	background-color: #DDDDDD;
}

td.checkbox, th.checkbox {
	text-align: center;
}

tbody {
	border-top: 1px solid #CCCCCC;
}

tbody th {
	border-bottom: 1px solid #CCCCCC;
}

thead th {
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #CCCCCC;
}

.breadcrumb {
	padding-bottom: 0.5em;
}

div.indentation {
	width: 20px;
	height: 1.7em;
	margin: -0.4em 0.2em -0.4em -0.4em;
	padding: 0.42em 0 0.42em 0.6em;
	float: left;
}

div.tree-child {
	background: url("../../misc/tree.png") no-repeat scroll 11px center transparent;
}

div.tree-child-last {
	background: url("../../misc/tree-bottom.png") no-repeat scroll 11px center transparent;
}

div.tree-child-horizontal {
	background: url("../../misc/tree.png") no-repeat scroll -11px center transparent;
}

.error {
	color: #EE5555;
}

div.error {
	border: 1px solid #DD7777;
}

div.error, tr.error {
	background: none repeat scroll 0 0 #FFCCCC;
	color: #220000;
	padding: 2px;
}

.warning {
	color: #E09010;
}

div.warning {
	border: 1px solid #F0C020;
}

div.warning, tr.warning {
	background: none repeat scroll 0 0 #FFFFDD;
	color: #222200;
	padding: 2px;
}

.ok {
	color: #008000;
}

div.ok {
	border: 1px solid #00AA00;
}

div.ok, tr.ok {
	background: none repeat scroll 0 0 #DDFFDD;
	color: #002200;
	padding: 2px;
}

.item-list .icon {
	color: #555555;
	float: right;
	padding-left: 0.25em;
	clear: right;
}

.item-list .title {
	font-weight: bold;
}

.item-list ul {
	margin: 0 0 0.75em;
	padding: 0;
}

.item-list ul li {
	margin: 0 0 0.25em 1.5em;
	padding: 0;
	list-style: disc outside none;
}

ol.task-list li.active {
	font-weight: bold;
}

.form-item {
	margin-top: 1em;
	margin-bottom: 1em;
}

tr.odd .form-item, tr.even .form-item {
	margin-top: 0;
	margin-bottom: 0;
	white-space: nowrap;
}

tr.merge-down, tr.merge-down td, tr.merge-down th {
	border-bottom-width: 0 !important;
}

tr.merge-up, tr.merge-up td, tr.merge-up th {
	border-top-width: 0 !important;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
	border: 2px solid red;
}

.form-item .description {
	font-size: 0.85em;
}

.form-item label {
	display: block;
	font-weight: bold;
}

.form-item label.option {
	display: inline;
	font-weight: normal;
}

.form-checkboxes, .form-radios {
	margin: 1em 0;
}

.form-checkboxes .form-item, .form-radios .form-item {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.marker, .form-required {
	color: #FF0000;
}

.more-link {
	text-align: right;
	margin-right: 6px;
}

.more-help-link {
	font-size: 0.85em;
	text-align: right;
}

.nowrap {
	white-space: nowrap;
}

.item-list .pager {
	clear: both;
	text-align: center;
}

.item-list .pager li {
	background-image: none;
	display: inline;
	list-style-type: none;
	padding: 0.5em;
}

.pager-current {
	font-weight: bold;
}

.tips {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 0.9em;
}

dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
	font-family: inherit;
	font-size: inherit;
	width: 14em;
}

dl.multiselect dd.a, dl.multiselect dd.a .form-item {
	width: 10em;
}

dl.multiselect dt, dl.multiselect dd {
	float: left;
	line-height: 1.75em;
	padding: 0;
	margin: 0 1em 0 0;
}

dl.multiselect .form-item {
	height: 1.75em;
	margin: 0;
}

.container-inline div, .container-inline label {
	display: inline;
}

ul.primary {
	border-collapse: collapse;
	padding: 0 0 0 1em;
	white-space: nowrap;
	list-style: none outside none;
	margin: 5px;
	height: auto;
	line-height: normal;
	border-bottom: 1px solid #BBBBBB;
}

ul.primary li {
	display: inline;
}

ul.primary li a {
	background-color: #DDDDDD;
	border-color: #BBBBBB;
	border-width: 1px;
	border-style: solid solid none;
	height: auto;
	margin-right: 0.5em;
	padding: 0 1em;
	text-decoration: none;
}

ul.primary li.active a {
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #BBBBBB #BBBBBB #FFFFFF;
}

ul.primary li a:hover {
	background-color: #EEEEEE;
	border-color: #CCCCCC #CCCCCC #EEEEEE;
}

ul.secondary {
	border-bottom: 1px solid #BBBBBB;
	padding: 0.5em 1em;
	margin: 5px;
}

ul.secondary li {
	display: inline;
	padding: 0 1em;
	border-right: 1px solid #CCCCCC;
}

ul.secondary a {
	padding: 0;
	text-decoration: none;
}

ul.secondary a.active {
	border-bottom: 4px solid #999999;
}

#autocomplete {
	position: absolute;
	border: 1px solid;
	overflow: hidden;
	z-index: 100;
}

#autocomplete ul {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}

#autocomplete li {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
	white-space: pre;
	cursor: default;
}

#autocomplete li.selected {
	background: none repeat scroll 0 0 #0072B9;
	color: #FFFFFF;
}

html.js input.form-autocomplete {
	background-image: url("../../misc/throbber.gif");
	background-repeat: no-repeat;
	background-position: 100% 2px;
}

html.js input.throbbing {
	background-position: 100% -18px;
}

html.js fieldset.collapsed {
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	margin-bottom: 0;
	height: 1em;
}

html.js fieldset.collapsed * {
	display: none;
}

html.js fieldset.collapsed legend {
	display: block;
}

html.js fieldset.collapsible legend a {
	padding-left: 15px;
	background: url("../../misc/menu-expanded.png") no-repeat scroll 5px 75% transparent;
}

html.js fieldset.collapsed legend a {
	background-image: url("../../misc/menu-collapsed.png");
	background-position: 5px 50%;
}

* html.js fieldset.collapsed legend, * html.js fieldset.collapsed legend *, * html.js fieldset.collapsed table * {
	display: inline;
}

html.js fieldset.collapsible {
	position: relative;
}

html.js fieldset.collapsible legend a {
	display: block;
}

html.js fieldset.collapsible .fieldset-wrapper {
	overflow: auto;
}

.resizable-textarea {
	width: 95%;
}

.resizable-textarea .grippie {
	height: 9px;
	overflow: hidden;
	background: url("../../misc/grippie.png") no-repeat scroll center 2px #EEEEEE;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #DDDDDD;
	cursor: s-resize;
}

html.js .resizable-textarea textarea {
	margin-bottom: 0;
	width: 100%;
	display: block;
}

.draggable a.tabledrag-handle {
	cursor: move;
	float: left;
	height: 1.7em;
	margin: -0.4em 0 -0.4em -0.5em;
	padding: 0.42em 1.5em 0.42em 0.5em;
	text-decoration: none;
}

a.tabledrag-handle:hover {
	text-decoration: none;
}

a.tabledrag-handle .handle {
	margin-top: 4px;
	height: 13px;
	width: 13px;
	background: url("../../misc/draggable.png") no-repeat scroll 0 0 transparent;
}

a.tabledrag-handle-hover .handle {
	background-position: 0 -20px;
}

.joined .grippie {
	height: 5px;
	background-position: center 1px;
	margin-bottom: -2px;
}

.teaser-checkbox {
	padding-top: 1px;
}

div.teaser-button-wrapper {
	float: right;
	padding-right: 5%;
	margin: 0;
}

.teaser-checkbox div.form-item {
	float: right;
	margin: 0 5% 0 0;
	padding: 0;
}

textarea.teaser {
	display: none;
}

html.js .no-js {
	display: none;
}

.progress {
	font-weight: bold;
}

.progress .bar {
	background: url("../../misc/progress.gif") repeat scroll 0 0 #FFFFFF;
	border: 1px solid #00375A;
	height: 1.5em;
	margin: 0 0.2em;
}

.progress .filled {
	background: none repeat scroll 0 0 #0072B9;
	height: 1em;
	border-bottom: 0.5em solid #004A73;
	width: 0;
}

.progress .percentage {
	float: right;
}

.progress-disabled {
	float: left;
}

.ahah-progress {
	float: left;
}

.ahah-progress .throbber {
	width: 15px;
	height: 15px;
	margin: 2px;
	background: url("../../misc/throbber.gif") no-repeat scroll 0 -18px transparent;
	float: left;
}

tr .ahah-progress .throbber {
	margin: 0 2px;
}

.ahah-progress-bar {
	width: 16em;
}

#first-time strong {
	display: block;
	padding: 1.5em 0 0.5em;
}

tr.selected td {
	background: none repeat scroll 0 0 #FFFFCC;
}

table.sticky-header {
	margin-top: 0;
	background: none repeat scroll 0 0 #FFFFFF;
}

#clean-url.install {
	display: none;
}

html.js .js-hide {
	display: none;
}

#system-modules div.incompatible {
	font-weight: bold;
}

#system-themes-form div.incompatible {
	font-weight: bold;
}

span.password-strength {
	visibility: hidden;
}

input.password-field {
	margin-right: 10px;
}

div.password-description {
	padding: 0 2px;
	margin: 4px 0 0;
	font-size: 0.85em;
	max-width: 500px;
}

div.password-description ul {
	margin-bottom: 0;
}

.password-parent {
	margin: 0;
}

input.password-confirm {
	margin-right: 10px;
}

.confirm-parent {
	margin: 5px 0 0;
}

span.password-confirm {
	visibility: hidden;
}

span.password-confirm span {
	font-weight: normal;
}

